:root {
    --text-font: "Segoe UI", Arial, sans-serif;

    /* background color theme */
    --bg-color01: #005a32;
    --bg-color02: #238b45;
    --bg-color03: #41ab5d;
    --bg-color04: #74c476;
    --bg-color05: #a1d99b;
    --bg-color06: #c7e9c0;
    --bg-color07: #edf8e9;

    /* Element Color theme */
    --danger-clr: hsl(9, 26%, 64%);
    --warning-clr: hsl(52, 19%, 57%);
    --success-clr: hsl(147, 17%, 59%);
    --info-clr: hsl(217, 28%, 65%);
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--text-font);
}

header {
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color02);
}

.artcraftlogo {
    padding-left: 10px;
    width: 3rem;
    height: 3rem;
}
.walleticon, .groceryicon, .plusIcons {
    width: 1.8rem;
    height: 1.8rem;
}

.middle_header_container {
    width: clamp(10rem, calc(32vw + 3rem), 16rem);
    display: flex;
    align-items: center;
    background-color: var(--bg-color03);
    border: none;
    border-radius: 4px;
}
.seach {
    width: 100%;
    height: 2rem;
    margin-left: 10px;
    background-color: var(--bg-color03);
    border: 1.5px solid var(--bg-color03);
    border-radius: 4px;
}
.middle_header_container:has(input[type="text"]:focus) {
    border: 2px solid var(--bg-color01);
    box-shadow: 0 0 3px var(--bg-color01);
}
.seach:not(:placeholder-shown) {
    margin-left: 10px;
    color: var(--bg-color06);
}
::placeholder {
    color: var(--bg-color06);
}
.seach:focus {
    outline: none;
}
.searchicons {
    margin: 0 5px;
    width: 1.5rem;
    height: 1.5rem;
}
.searchicons:hover {
    opacity: .8;
}
.searchicons:active {
    opacity: .4;
}

.right_header_container {
    padding-right: 10px;
    display: flex;
    gap: 1.5rem;
}
.loginBtn {
    width: 4rem;
    height: 2rem;
    font-size: .8rem;
    font-weight: 400;
    color: white;
    background-color: var(--bg-color03);
    border: 1px solid var(--bg-color01);
    border-radius: .25rem;
}

nav {
    top: 0;
    width: 100%;
    height: 2.5rem;
    background-color: var(--bg-color01);
}
.nav_top {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}
.navigator_list {
    height: 100%;
    padding: 0 1rem 0 1rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.navigator_list:hover {
    background-color: var(--bg-color04);
}
.navigator_list:active {
    opacity: .8;
}

/* wallet dialog */
.wallet_info_container {
    display: flex;
    align-items: center;
    gap: .3rem;
}
.symbol_panel {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
}
.infoIcon {
    width: 1rem;
    height: 1rem;
}
.eurosymbolIcon {
    width: 3rem;
    height: 3rem;
}
.balance {
    margin-left: 2rem;
    font-size: 2.5rem;
}
.topup_form {
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    display: flex;
    gap: .5rem;
    font-size: 9px;
}
.addBalanceField {
    width: 100%;
}
.topupBtn {
    width: 4rem;
}
