:root {
    --text-font: "Segoe UI", Arial, sans-serif;

    /* background color theme */
    --bg-color01: #005a32;
    --bg-color02: #238b45;
    --bg-color03: #41ab5d;
    --bg-color04: #74c476;
    --bg-color05: #a1d99b;
    --bg-color06: #c7e9c0;
    --bg-color07: #edf8e9;

    /* Element Color theme */
    --danger-clr: hsl(9, 26%, 64%);
    --warning-clr: hsl(52, 19%, 57%);
    --success-clr: hsl(147, 17%, 59%);
    --info-clr: hsl(217, 28%, 65%);
}

body {
    margin: auto;
    width: 100%;
    height: 100vh;
    font-family: var(--text-font);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginFrm_container {
    width: 18.75rem;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--bg-color01);
    border-radius: .5rem;
}
.loginFrm_title_container {
    width: 100%;
    background-color: #005a32;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}
h2 {
    margin: 10px;
    color: white;
    align-items: center;
    text-align: center;
}
.loginFrm {
    width: 100%;
    height: 100%;
    padding: 1rem 0 .5rem 0;
    display: flex;
    flex-direction: column;
}
.loginFrm table tbody {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .7rem;
}
.loginFrm table tbody tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.usernameFld, .passwordFld  {
    width: 10rem;
    height: 1.5rem;
    display: flex;
    justify-content: end;
}
.loginBtn {
    padding: .5rem 1rem;
    border: 1px solid var(--bg-color01);
    border-radius: 3px;
    color: white;
    background-color: var(--bg-color03);
}
a {
    margin: 0 20px;
    margin-bottom: 2rem;
    font-size: 10px;
}
a:hover {
    opacity: .8;
}